# vim: ft=tmux.conf

set -g prefix M-a
# set -g prefix C-a
# bind a send-keys C-a

unbind C-b
unbind r
# bind M-a send-prefix

# set-option -g default-shell ~/nvimshell.bash
set-option -g default-shell /bin/bash
set-option -g mouse off

set-option -g base-index 1
set-option -g pane-base-index 1
set-option -g xterm-keys on
set-option -g history-limit 100000

set -g status on

# Make colors work correctly inside tmux inside mosh
set -g default-terminal "tmux-256color"
set -ga terminal-overrides ",*256col*:Tc"


{{ if eq .chezmoi.hostname "personalbox" }}
    # set-option -g status-right "#{=22:pane_title} | #(python ~/src/affirmations/main.py --duration 3600 --source-file ~/src/affirmations/affirmations.json) 💚 %H:%M %a %d-%b-%Y"
    # set-option -g status-right "#(python ~/src/affirmations/main.py --duration 3600 --source-file ~/src/affirmations/affirmations.json) @SinaSiadat 💚"

    #set-option -g status-left-length 120
    #set-option -g status-left-style bg=#404040 # Customize
    #set-option -g status-left '[#(uname)] '    # Customize
    #set-option -g status-left ''    # Customize
    #set-option -g status-left '[tmux] '    # Customize
    set-option -g status-left "💚 "
    set-option -g status-right "💚"
    set-option -g status-right-length 120
    set-option -g status-style bg=#404040      # Customize
{{ end }}

set-option -g status-interval 60
set-option escape-time 0

setw -g mode-keys vi
#setw -g window-status-style fg=white,bg=default
#setw -g window-status-current-style fg=black,bg=white
set -g window-status-current-format '(#{window_name})'
set -g window-status-format '#{window_name}'

bind r source-file ~/.tmux.conf
bind Escape detach-client -Pa
bind P command-prompt -p 'save history to filename:' -I '~/tmux.history' 'capture-pane -S -32768 ; save-buffer %1 ; delete-buffer'

# bind -n 'C-j' select-pane -D
# bind -n 'C-k' select-pane -U
# bind -n 'C-s' split-window -v -c "#{pane_current_path}"

bind 'l' select-window -t +1
bind 'h' select-window -t -1

bind 'L' swap-window -t +1
bind 'H' swap-window -t -1

# bind -n 'M-l' select-window -t +1
# bind -n 'M-h' select-window -t -1
bind -n 'M-l' select-pane -R
bind -n 'M-h' select-pane -L

# bind -n 'M-H' swap-window -t -1
# bind -n 'M-L' swap-window -t +1
bind -n 'M-H' resize-pane -L 1
bind -n 'M-L' resize-pane -R 1

bind -n 'M-J' resize-pane -D 2
bind -n 'M-K' resize-pane -U 2

bind -n 'M-k' select-pane -U
bind -n 'M-j' select-pane -D
bind k select-pane -U
bind j select-pane -D

# bind -n 'M-Down' select-pane -D
# bind -n 'M-Up' select-pane -U

# middle of the 9keypad
bind -n 'M-z' resize-pane -Z

bind -n 'M-s' split-window -h -c "#{pane_current_path}"
bind -n 'M-v' split-window -v -c "#{pane_current_path}"

# bind -n 'M-s' split-window -v -c "#{pane_current_path}"

bind -n 'M-n' new-window -c "#{pane_current_path}"
# bind -n 'M-N' new-session \; refresh -S
bind -n 'M-V' paste-buffer -r

# clear scrollback history
bind -n 'M-C' clear-history

bind -n 'M-c' copy-mode # \; send-keys H
bind -n 'M-u' copy-mode \; send-keys C-d
bind -n 'M-i' copy-mode \; send-keys C-u


bind -n 'M-/' copy-mode \; send-keys /
bind -n M-\; command-prompt
bind -n 'M-\' resize-pane -Z # M-Enter
bind -n 'M-Enter' resize-pane -Z # M-Enter
bind -n 'M-f' resize-pane -Z # M-Enter
# bind -n 'M-d' send-keys C-d

bind Enter resize-pane -Z # M-Enter
# bind -n 'M-V' paste-buffer -r

# copy (in tmux copy buffer)
bind-key -T copy-mode-vi 'v' send -X begin-selection
# after selecting a text, you can either press Enter or 'y' (to make it more like vim)
bind-key -T copy-mode-vi 'y' send -X copy-selection-and-cancel
# paste (the tmux copy buffer) (using p like vim)

bind -n 'M-p' paste-buffer -s ''
bind p paste-buffer -s ''

bind -n 'M-0' select-pane -P 'bg=default'
bind -n 'M-1' select-pane -P 'bg=#550055'
bind -n 'M-2' select-pane -P 'bg=#003366'
bind -n 'M-3' select-pane -P 'bg=#662200'
bind -n 'M-4' select-pane -P 'bg=#555555'

# set -g pane-border-style bg=default,fg=colour239
# set -g pane-active-border-style bg=default,fg=colour239
# 
# # set -g pane-border-style fg=colour250,bg=colour236
# # set -g pane-active-border-style fg=colour250,bg=colour250
# 
# # set -g window-style 'bg=default,fg=default' # ,fg=colour247,bg=colour236
# # set -g window-active-style 'bg=default,fg=default' # 'fg=colour250,bg=default'
# 
# set -g window-style 'fg=colour247,bg=default'
# set -g window-active-style 'fg=default,bg=default'

# ############################################
# Added by session finder's install script.
# source /Users/sina/.tmux/session-finder/session-finder.conf # GopherCon commented
